.grid{
    display: grid;
    grid-template-columns: 2vw 3vw 90vw 3vw 2vw;
}

.grid img{
    height: auto;
    width: 100%;
    grid-column: 3/span 1;
    transition: box-shadow 0.3s ease;
}

.grid img:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.grid :nth-last-child(even){
    border: 5px dashed orange;
}

.item7{
    grid-column: 1/-1;
}

.item1{
    border: 5px solid green;
}

@media all and (min-width: 750px){
    .grid{
        display: grid;
        grid-template-columns: 2vw 3vw 90vw 3vw 2vw;
    }
}


